<html>
  <body>
   <form method="POST" action="/new">
   <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" /><br />
  <button type="submit">submit</button>
  </body>
</html>
